<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <style>
    body {
        background-color:  white;
        color: #e48ab1 ;
    }
    a {
        color: #c55583 ;
    }
    </style>
</head>
<body>
    <h1>¡Hola! Soy una página de error.</h1>
    <p>Has llegado aquí porque {{ reason }}</p>
    <p>
    <img src="https://media.tenor.com/K8_a0mQrOjoAAAAC/good-night-hello-kitty.gif" alt="hkadormirla">
    </p>
    <a href="/">Volver al home</a>

</body>
</html>