<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Últimas 10 vulnerabilidades</title>
</head>
<body>

<h1>Los primeros 10 objetos:</h1>
    <style>table td {
        padding: 10px;
    }</style>
    <table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Fecha de modificación</th>
                <th>Fecha de creación</th>
                <th>Referencia</th>
                <th>Resumen</th>
			</tr>
		</thead>
		<tbody>
			{% for vuln in vulns %}
			<tr>
				<td>{{ vuln["id"] }}</td>
				<td>{{ vuln["Modified"] }}</td>
                <td>{{ vuln["Published"] }}</td>
                <td><a href="{{ vuln["references"][0]}}">referencia</a></td>
                <td>{{ vuln["summary"] }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

</body>
</html>